html 

body { 
    font-family:'helvetica'; 
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 30px 50px 70px 50px;
    background-image: url(./images/bg800bulbs.jpg);

   }
   #page {
    background-color: white;
    
   }
    #logo {
   
   height: 20px;
   }
   #header {
   text-align: right !important;
   display: flex;
   flex-direction:row;
   justify-content: space-evenly;
   
   width:100%;
   font-size: 14px;

   
   }
    
     .aboutus {
        word-spacing: 2px;
     }
     #main {
        margin: 12px 12px;
        text-align: left;
     }
     #main .heading{
        font-size: 16px;
        border-bottom: solid 3px lightgray;
        font-weight: bolder;


     }
     .info{
        font-size: 12px !important;
        text-align: left;
        margin: 0px 250px 0px 0px
        
               
     }
     .info1{
        font-size: 12px;
     }
    .pv250 { float: right !important;
    }
    .geo250 {float: right !important;
    } 
    .turbines250 { float: right !important;

    }

    .wrapper { text-align: center;
        
        
    }

    
    .button {
        
        width: 200px;
        height: 30px;
        border: solid gray 1px; 
        border-radius:15px;
        background-color: lightgray;
        
    }
#testimonials {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid lightblue;
    border-left: 5px solid lightblue; 
    font-size: 14px;
}
    #quotes {
    font-size: 14px;
 }

 #photos {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
 }   
#footer{
    
    font-size: 12px;
    color: white;
    background-color: chocolate ;
    font-weight: bold;
   
    
    
}

.table, th,td {
   text-align: center;
   border: 2px solid gray
   
   
} 
.table, caption{
   font-size: 30px;
   font-weight: bolder;
}
.table, th {
   font-size: 22px;
}
.table, tr{
   font-size: 18px
   
}
#contact_form {
   background-color: gray;
   padding-top: 20px;
   padding-bottom: 20px;
   }
 
 .row label{
   color: black;
   font-size: 18px;
   margin-left: 10px;
 }
 
 input, textarea {
   text-align: center;
   background-color: lightblue;
   border-radius: 10px;
   margin: auto 0;
   color: black;
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   box-shadow: 5px 5px 10px #3e4444;
   }
 
 input[type=text] {
   height: 25px;
 }
 
 input[type=submit] {
  border-radius: 10px;
   font-size: 18px;
   margin-left: 10px;
   box-shadow: 5px 5px 5px #3e4444;
   background-color: lightblue;
   color: black
   
 } 
    